@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

body {
    width: 2000px;
    min-height: 100vh;
    background-color: #f4f4f4;
}

body[data-title="Permintaan Persetujuan"] #page-title {
    color: #000;
    margin-left: 450px;
    font-size: 40px;
    font-weight: 700;
}

.sidebar {
    width: 450px;
    position: fixed;
    z-index: 10;
    border-radius: 16px;
    background: #fff;
    height: calc(100vh - 32px);
}

.sidebar-header {
    display: flex;
    padding: 25px 20px;
    align-items: center;
    justify-content: space-between;
}

.sidebar-header .header-logo img {
    width: 220px;
    height: 130px;
    margin-left: 80px;
    margin-bottom: 0;
    display: block;
    object-fit: contain;
    border-radius: 50%;
}

.sidebar-header .toggler {
    height: 35px;
    width: 35px;
    border: none;
    color: #0C3345;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    border-radius: 10px;
    background: #ededed;
    transition: 0.4s ease;
}

.sidebar-header .toggler:hover {
    background: #d4d4d4;
}

.sidebar-header .toggler span {
    font-size: 1.75rem;
}

.sidebar-nav .nav-list {
    list-style: none;
    display: flex;
    gap: 4px;
    padding: 0 15px;
    flex-direction: column;
}

.sidebar-nav .nav-link {
    color: #000;
    display: flex;
    font-size: 24px;
    gap: 12px;
    border-radius: 8px;
    align-items: center;
    padding: 12px 15px;
    text-decoration: none;
    transition: 0.4s ease;
}

.notif-badge {
    display: none; /* default disembunyikan */
    background-color: red;
    color: white;
    font-size: 12px;
    font-weight: bold;
    width: 20px;       /* lebar tetap */
    height: 20px;      /* tinggi tetap */
    border-radius: 50%; /* bulat sempurna */
    text-align: center;
    line-height: 20px;  /* supaya angka vertikal center */
    margin-left: 5px;
}


.nav-link span {
    font-size: 24px;
}

.nav-link span.nav-icon {
    font-size: 30px;
}

.sidebar-nav .nav-link:hover {
    background: #BEEAF9;
    background: linear-gradient(90deg, rgba(190, 234, 249, 1) 27%, rgba(255, 255, 255, 1) 100%);
}

.sidebar-nav .secondary-nav .danger:hover {
    background: #faa9a9;
}

/* --- DROPDOWN BUTTON --- */
.dropdown-btn {
    font-size: 24px;
    width: 100%;
    background: none;
    border: none;
    padding: 0;
    cursor: pointer;
    display: block;
    text-align: left;
}

/* --- SUBMENU HIDDEN BY DEFAULT --- */
.sub-menu {
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.35s ease;
    padding-left: 55px;
}

/* --- SUBMENU STYLE --- */
.sub-menu li a {
    padding: 8px 0;
    color: #000;
    text-decoration: none;
    display: block;
    font-size: 20px;
}

.sub-menu li a:hover {
    color: #2E8BC0;
}

/* --- ACTIVE DROPDOWN --- */
.sub-menu.active {
    max-height: 200px;
}

.sidebar ul {
    list-style: none;
}

.sidebar-nav .secondary-nav {
    position: absolute;
    bottom: 30px;
    width: 100%;
}

.sidebar-nav .secondary-nav h4 {
    font-size: 24px;
}

.sidebar-nav .secondary-nav p {
    font-size: 18px;
}

.sidebar-nav .secondary-nav .nav-link span.nav-icon {
    font-size: 30px;
}

.nav-link.active {
    background: #BEEAF9;
    background: linear-gradient(90deg, rgba(190, 234, 249, 1) 27%, rgba(255, 255, 255, 1) 100%);
}


/* MAIN BAGIAN NAVBAR ATAS */
.navbar {
    position: fixed;
    width: 100%;
    z-index: 1;
}

.navbar .box-navbar {
    background-color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
}

.navbar .box-navbar h4 {
    margin-left: 450px;
    font-size: 40px;
    font-weight: 700;
}

.icon-right {
    display: flex;
    align-items: center;
}

.navbar .box-navbar span {
    margin-left: 20px;
    font-size: 35px;
}


/* INI BAGIAN MAIN */
.hero {
    margin-left: 450px;
    padding: 20px;
    padding-top: 100px;
}

.selesai {
    width: 1990px;
    padding: 20px;
    border-radius: 20px;
    padding-top: 20px;
}

.selesai h2 {
    font-size: 24px;
    margin-bottom: 20px;
}

.styled-table {
    width: 1985px;
    border-collapse: collapse;
    font-family: "Poppins", sans-serif;
    border-radius: 20px;
}

/* Header */
.styled-table thead tr {
    background: #00334E;
    color: white;
    font-size: 20px;
    font-weight: 500;
}

.styled-table th {
    padding: 10px;
    text-align: center;
    font-weight: 500;
}

/* Body cells */
.styled-table td {
    padding: 10px;
    text-align: center;
    border-bottom: 1px solid #e6e6e6;
    font-size: 18px;
}

/* ===== STRIPED ===== */
.styled-table tbody tr:nth-child(odd):not(.noDataRow) {
    background-color: #f5f8fa;  
}

.styled-table tbody tr:nth-child(even):not(.noDataRow) {
    background-color: #ffffff;  
}

/* ===== HOVER ===== */
.styled-table tbody tr:hover:not(.noDataRow) {
    background-color: #e2f1ff;
    cursor: pointer;
}

/* ===== BARIS 'Data tidak tersedia' ===== */
.noDataRow td {
    background: #fafafa !important;
    font-style: italic;
    color: #777;
    text-align: center;
}